@import "tailwindcss";
@plugin "daisyui";
#root {
  background-color: #F8FAFC;
}
@media (max-width: 480px) {
  .Toastify__toast {
    width: 84% !important;
    margin: 0 auto;
    border-radius: 8px;
  }

  .Toastify__toast-body {
    font-size: 14px;
    text-align: center;
  }
}